@using MudBlazor
@using SmartVestFinancialAdvisor.Components
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Smartvest</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.House" Class="me-2" /> 
                   Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="financial-survey" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Description" Class="me-2" />
                Financial Survey
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resources" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Pageview" Class="me-2" />
                Financial Resources
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="help" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.QuestionMark" Class="me-2" />
                Help
            </NavLink>
        </div>
    </nav>
</div>
﻿

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.House">Home</MudNavLink>
    <MudNavLink Href="/Counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Calculate">Counter</MudNavLink>

</MudNavMenu>
